# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info/
.eggs/
*.log
*.pot
*.mo

# ---- Virtualenv ----
env/
venv/
ENV/
env.bak/
venv.bak/

# ---- IDEs / Editors ----
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# ---- Django ----
*.sqlite3
db.sqlite3
media/
staticfiles/

# ---- OS / Misc ----
.DS_Store
Thumbs.db

# ---- Python testing ----
.coverage
.tox/
.pytest_cache/
htmlcov/
*.coverage
*.cache
nosetests.xml
coverage.xml

# ---- Logs ----
*.log
*.out
*.err

# ---- Local configs ----
*.env
.env
