{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Conecta Solidária</title>
    <link rel="icon" type="image/icon" href="{% static 'core/img/cuiacdb.png' %}">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- CSS personalizado -->
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <script src="{% static 'core/js/script.js' %}" defer></script>

    
</head>
<body>

    <!-- Barra de Navegação -->
    <nav class="navbar navbar-light bg-navbar px-3">
        <div class="container-fluid d-flex justify-content-between align-items-center">

            <!-- Logo -->
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="{% static 'core/img/cuiacdb.png' %}" alt="" width="50" height="40" class="d-inline-block align-text-top">
                <p class="logo-text mb-0">Ciclo do bem</p>
            </a>

            <!-- Botões no canto direito -->
            <div class="d-flex align-items-center gap-3">

                <!-- Dropdown Cadastrar -->
                <div class="dropdown">
                    <button class="btn  dropdown-toggle" type="button" id="dropdownCadastrar" data-bs-toggle="dropdown" aria-expanded="false">
                        Cadastrar
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownCadastrar">
                        <li><a class="dropdown-item" href="#">Estabelecimento</a></li>
                        <li><a class="dropdown-item" href="#">Instituições</a></li>
                    </ul>
                </div>

                <!-- Botão Login -->
                <a href="#" class="btn">Login</a>
            </div>
        </div>
    </nav>

    <!-- Conteúdo principal -->
    {% block content %}
    {% endblock %}

    <!-- Rodapé -->
    <footer class="btn2 text-center mt-5">
        <p>&copy; 2025 Ciclo do Bem - Todos os direitos reservados</p>
    </footer>

    <!-- Bootstrap JS (Dropdowns precisam disso para funcionar) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>
