{%extends 'core/base.html'%}
{% block title%} Testando o bloco.{% endblock %}
{% block content %}  
    
        <!-- Principal -->

    <div class="text-container d-flex flex-column align-items-center">
        <h1 class="title-text">Transformando <span>sobras</span> em <span>solidariedade</span></h1>
        <p class="text">Conectamos estabelecimentos que têm sobra de alimentos com instituições que precisam. Juntos, reduzimos o desperdício e alimentamos a esperança.</p>
        <a href="#" class="btn btn2 w-25">Saiba Mais</a>       
        
    </div>     

{% endblock %}
